.logo{
  
    display: block;
    margin: 0 auto 20px;
    width: 55%; 
    height: auto;
  
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0,7%;
  background-color: #F0F0F0;
  overflow: visible;

}

#loginContainer,
#chatContainer {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

#loginContainer {
  height: auto; 
}

#chatContainer {
  height:auto; 
  display: flex;
  flex-direction: column;
  overflow: auto;


}

#loginForm,
#chatForm {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
 color: rgb(93, 112, 121);
 margin-top: 0.5%;
 font-size: 25.6px;

}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

input:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  padding: 10px;
  border: none;
  background-color: rgb(244, 115, 44);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(247, 106, 30);
}

#messagesContainer {
  flex-grow: 1;
  overflow-y: scroll !important;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #F9F9F9;
  max-height: 200px;
  
}

.message {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #F1F1F1;
  font-size: 14px;
  position: relative;
}

.message.user {
  background-color: #D1E7DD;
  border-color: #BADBCC;
}

.message.bot {
  background-color: #F8D7DA;
  border-color: #F5C2C7;
}

.delete-icon {
  position: absolute;
  top: 1%;
  right: 0px;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background-color: #C82333;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  line-height: 17px; /* Define a altura da linha igual à altura do círculo */
  cursor: pointer;
  font-size: 12px; /* Ajuste o tamanho da fonte para se adequar ao círculo */
  font-weight: bold;
  color: #FFF;
}
  


#logoutButton {
  padding: 10px;
  border: none;
  background-color: #DC3545;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

#logoutButton:hover {
  background-color: #C82333;
}

#historyButton {
  padding: 10px;
  border: none;
  background-color: #6C757D;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-left: 205px;

}

#historyButton:hover {
  background-color: #5A6268;
}

#historyButton.active {
  background-color: #0056b3; 
  border: 2px solid #004085; 
  color: #e0e0e0; 
}

#historyContainer {
  display: none;
  overflow-y: auto;
  max-height: 300px;
}

#chatContainer form, #chatContainer button {
  flex-shrink: 0; 
}

#chatForm {
  display: flex;
  margin-top: 10px;
}